{% extends 'base.html' %}
{% block title %}
Personal Finance Tracker
{% endblock %}

{% block content %}

<h1 class="mt-4 mb-6 text-2xl leading-none tracking-tight text-white md:text-3xl lg:text-4xl">
    Welcome to the Personal Finance Tracker
</h1>


{% if user.is_authenticated %}

<div class="flex items-center mb-6">
    {% heroicon_outline "face-smile" class="mr-2 w-6 h-6 text-white"%}

    <p class="text-xl text-white">
        Welcome, {{ user.username }}
    </p>
</div>

<div class="border mb-6"></div>

<div class="mb-3">
    <a href="{% url 'transactions-list'%}"
       class="font-medium text-white hover:underline flex items-center">
    {% heroicon_outline "chart-bar" class="w-6 h-6 mr-2" %}

    View My Transactions
    </a>
</div>
<div class="mb-3">
    <a href="{% url 'transactions-charts'%}"
       class="font-medium text-white hover:underline flex items-center">
    {% heroicon_outline "chart-pie" class="w-6 h-6 mr-2" %}

    My Charts
    </a>
</div>

{% else %}

{% endif %}
{% endblock %}